html, body {
    height: 100%;
    width: 100%;
  }
  
  .background {
    max-width: 130%;
    z-index: -1;
  }
  
  .first-page, .half-life, .half-life-2, .half-life-ep-1, half-life-ep-2 {
    height: 100%;
    width: 100%;
    overflow:hidden;
  }
  
  .first-page {
    background:#fff url("https://images2.alphacoders.com/339/33952.jpg") no-repeat fixed left top;
    background-size: 130%;
  }
  
  #title {
    margin: 20% 5%;
  }
  
  #title h1 {
    font-size: 5em;
    font-family: Georgia, Arial Black, Sans-Serif;;
    color: #D67E15;
    text-shadow: 3px 3px 10px;
  }
  
  #title h5
  {
    font-family: Palatino, sans-serif;
    font-size:1.5em;
    margin-left: 10%;
    color: #F1F1F1;
    text-shadow: 1px 1px 6px;
  }
  
  .protagonist h1 {
    color: #333333;
    font-family: ‘Courier New’, Courier, monospace;
    font-weight: bold;
    margin-top: 10%;
  }
  
  .protagonist p {
    color: #333333;
    font-family: ‘Courier New’, Courier, monospace;
    font-size: 16px;
    margin-top: 5%;
  }
  
  .gordon p, .dog p {
    margin-left: 5%;
  }
  
  .alyx, .gman{
    margin-right: 5%;
  }
  
  .dog img {
    height: 100%;
  }
  
  .half-life {
    background: #fff url("http://www.blackmesasource.com/images/portfolio/image12.jpg") no-repeat fixed left top;
    background-size: 110%;
  }
  
  .half-life-2 {
    background: #fff url("http://i65.tinypic.com/fcnp0x.jpg") no-repeat fixed left top;
    background-size: 110%;
  }
  
  .half-life-ep-1 {
    background: #fff url("http://i66.tinypic.com/2ighd2u.jpg") no-repeat fixed left top;
    background-size: 130%;
  }
  
  .half-life-ep-2 {
    background: #fff url("http://www.wallpaperhi.com/thumbnails/detail/20140307/trees%20destruction%20halflife%202_www.wallpaperhi.com_42.jpg") no-repeat fixed left top;
    background-size: 100%;
  }
  
  .text-holder {
    background:rgba(255,255,255,0.9);
    margin: 10% 3%;
  }
  
  .text-holder h2 {
    font-family: Arial Black, Serif;
    font-size: 2em;
  }
  
  .text-holder p {
    font-family: Calibri, sans-serif;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #111;
  }